@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --bg--body: #f1f1f1;
    --bg--container: whitesmoke;
    --primary-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    --secondary-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.2);
    --input-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
    --input-focus: 0px 5px 5px 0px rgba(0, 0, 0, 0.7);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    list-style: none;
    color: var(--primary-color);
}

body{
    transition: all .5s ease;
    background-color: var(--bg--body);
}

body.dark{
    --bg--body: #1E1E1E;
    --bg--container: #424242 ;
    --primary-shadow: 10px 10px 5px rgba(200 , 200 , 200 , 0.4);
    --secondary-shadow: 3px 4px 7px 0 rgba(150, 150, 150, 0.2);
    --input-shadow: 2px 2px 8px 2px rgba(150, 150, 150, 0.2);
    --input-focus: 0px 3px 3px 0px rgba(150, 150, 150, 0.5);
}

button {
    background-color: transparent;
    border: none;
}

.container__login, .log__out{
    display: none;
}

.container__todo {
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: var(--primary-shadow);
    border-radius: 5px;
    background-color: var(--bg--container);
    transition: all .5s ease;
    display: none;
}

.todo__header {
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.container__search {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    box-shadow: var(--input-shadow);
    margin-right: 35px;
    flex: 1;
}

.input__search, .dropbtn, .search__icon {
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    transition: all .3s ease;
}

.input__search {
    outline: none;
    flex: 1;
}

.input__search:focus {
    box-shadow: var(--input-focus);
}

.search__icon {
    font-size: 25px;
    height: 22px;
}

.search__icon:hover {
    box-shadow: var(--input-focus);
}

/* Dropdown */
.input__search::placeholder {
    color: var(--light-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: var(--bg--container);
    min-width: 160px;
    box-shadow: var(--secondary-shadow);
    z-index: 1;
}

.dropdown__content div {
    display: inline-block;
    padding: 10px 0;
    width: 100%;
}

.dropdown__content div:first-child input {
    margin-bottom: 8px;
}

.dropdown__content div:hover {
    box-shadow: var(--input-focus);
}

.dropdown:hover .dropdown__content {
    display: block;
}

/* .dropdown .dropdown__content {
    display: block;
} */

.dropdown:hover .dropbtn {
    box-shadow: var(--input-focus);
}

/* TODO */

.todo {
    width: 100%;
    margin: 25px 0;
}

.todo__tasks {
    display: flex;
    flex: 1;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 500;
    gap: 8px;
}

.todo__tasks input {
    cursor: pointer;
}

.todo__text {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin: 0 5px;
}

.task{
    flex: 1;
}

.todo__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    box-shadow: var(--secondary-shadow);
    margin-bottom: 5px;
    border-radius: 3px;
}

.todo__item-icons {
    cursor: pointer;
    gap: 5px;
    transition: all .3s ease;
}

.todo__item-icons span:hover{
    box-shadow: var(--input-focus);
}

/* Add input */

.todo__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--input-shadow);
    border-radius: 3px;
    width: 80%;
    margin: 0 auto;
}

.add__input {
    padding: 16px;
    font-size: 18px;    
    border: none;
    cursor: pointer;
    background-color: transparent;
    outline: none;
    flex: 1;
    transition: box-shadow .3s ease;
}

.add__input::placeholder {
    color: var(--light-color);
}

.add__input:focus {
    box-shadow:  var(--input-focus);
}

input[type="date"] {
    padding: 16px 5px;
    width: 130px;
    font-size: 17px;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all .3s ease;
}

input[type="date"]:hover {
    box-shadow: var(--input-shadow);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: var(--input-date);
    cursor: pointer;
}

.add__icon {
    font-size: 25px;
    height: 22px;
    padding: 16px;
    transition: all .3s ease;
    cursor: pointer;
}

.add__icon:hover {
    box-shadow: var(--input-focus);
}

.checked {
    text-decoration: line-through;
}

.log__out {
    background-color: rgb(230, 7, 7);
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 5px;
    top: 5px;
    box-shadow: var(--secondary-shadow);
}

.hidden {
    display: none;
}

.input__edit-text {
    background-color: transparent;
    padding: 5px;
    font-size: 16px;
    outline: none;
    border: none;
    box-shadow: var(--input-focus);
    font-weight: 500;
}