@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
    --primary-color: #4CAF50;
    --secondary-color: #3e8e41;
    --light-color: #7cc47f;
    --primary-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
    --secondary-shadow: 4px 4px 3px 0 rgba(0, 0, 0, 0.2);
    --input-shadow: 2px 2px 8px 2px rgba(0, 0, 0, 0.2);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    list-style: none;
    color: var(--primary-color);
}

.container__todo {
    width: 100%;
    max-width: 600px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: var(--primary-shadow);
    border-radius: 5px;
    background-color: whitesmoke;
}

.todo__header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.config {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.container__search {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--primary-color);
    border-radius: 3px;
    box-shadow: var(--input-shadow);
}

.input__search, .dropbtn, .search__icon {
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.input__search {
    outline: none;
}

.search__icon {
    font-size: 20px;
    height: 22px;
}

.search__icon:hover {
    background-color: var(--secondary-color);
}

/* Dropdown */
.dropbtn {
    border-right: 1px solid var(--primary-color);
    border-left: 1px solid var(--primary-color);
}

.input__search::placeholder {
    color: var(--light-color);
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown__content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: var(--secondary-shadow);
    z-index: 1;
}

.dropdown__content p {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown__content p:hover {
    background-color: var(--secondary-color)
}

.dropdown:hover .dropdown__content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: var(--secondary-color);
}

/* TODO */

.todo {
    width: 100%;
    margin: 25px 0;
}

.todo__task {
    display: flex;
    flex: 1;
    padding: 12px 0;
    font-size: 18px;
    font-weight: 500;
    gap: 8px;
}

.todo__task input {
    cursor: pointer;
}

.todo__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    box-shadow: var(--secondary-shadow);
    margin-bottom: 5px;
    border-radius: 3px;
}

.todo__item-icons {
    cursor: pointer;
    gap: 5px;
}

/* Add input */

.todo__bottom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.add__input {
    margin: auto 0;
    padding: 16px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    width: 80%;
    outline: none;
    box-shadow: var(--input-shadow);
    border-radius: 3px;
}

.add__input::placeholder {
    color: var(--light-color);
}